<caption class="visually-hidden">{{ 'courses.enrolledStudents.tableCaption' | translate }}</caption>
<thead>
  <tr>
    <th>{{ 'courses.enrollmentModal.studentLabel' | translate }}</th>
    <th>{{ 'courses.enrolledStudents.emailColumn' | translate }}</th>
    <th>{{ 'courses.enrollmentManagement.amountColumn' | translate }}</th>
    <th>{{ 'courses.enrollmentManagement.statusLabel' | translate }}</th>
    <th>{{ 'courses.enrollmentManagement.enrolledColumn' | translate }}</th>
    <th>{{ 'courses.enrolledStudents.activatedColumn' | translate }}</th>
  </tr>
</thead>
<ng-content></ng-content>
